# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Node.js
node_modules/
package-lock.json

# IDE-related files
*.sublime-project
*.sublime-workspace
.vscode/
.idea/

# Build artifacts
/dist/
bundle.js
*.tgz
