version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    container_name: fastapi_backend
    ports:
      - '8000:8000'
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://myuser:mypassword@db/mydatabase

  frontend:
    build:
      context: ./frontend
    container_name: nextjs_frontend
    ports:
      - '3000:3000'

volumes:
  pg_data: